<body class="u-body u-xl-mode" data-lang="de">
  <footer class="u-align-center u-clearfix u-footer-max u-grey-80 u-footer" id="sec-9fbc">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">
        <span class="text-muted">© 2023 BananaBonanza. All rights reserved.</span>
      </p>
    </div>
  </footer>

  <section class="u-backlink u-clearfix u-grey-80">
    <div class="float-right">
      <a routerLink="/about-us">About Us</a> |
      <a routerLink="/shipping-information">Shipping Information</a> |
      <a routerLink="/privacy-policy">Privacy Policy</a> |
      <a routerLink="/terms-conditions">Terms & Conditions</a>
    </div>
  </section>
</body>
