<ul class="u-breadcrumbs u-unstyled u-block-b1b6-128">
  <li class="u-breadcrumbs-item u-nav-item">
    <a [routerLink]="['/site']" class="u-button-style u-nav-link">Site</a>
  </li>
  <li class="u-breadcrumbs-item u-breadcrumbs-separator u-nav-item">/</li>
  <li class="u-breadcrumbs-item u-nav-item">
    <a [routerLink]="['/category']" class="u-button-style u-nav-link">Category</a>
  </li>
  <li class="u-breadcrumbs-item u-breadcrumbs-separator u-nav-item">/</li>
  <li class="u-breadcrumbs-item u-nav-item">
    <a [routerLink]="['/page']" class="u-button-style u-nav-link">Page</a>
  </li>
</ul>
