<body class="u-body u-xl-mode" data-lang="de">
  <section class="u-clearfix u-white u-section-1" id="carousel_1d41">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-1" src="/assets/dfed-min.jpg" data-image-width="1200" data-image-height="800">
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h4 class="u-text u-text-1">Shipping Information</h4>
              <p class="u-text u-text-2"> Wir versenden unsere Produkte weltweit.&nbsp;<br>
                <br>Die Versandkosten hängen von Ihrer Lieferadresse und der gewählten Versandart ab.<br>
                <br>Standardlieferungen innerhalb Deutschlands dauern in der Regel 2-3 Werktage. Internationale Lieferungen können 5-7 Werktage in Anspruch nehmen.<br>
                <br>Expresslieferungen sind gegen Aufpreis möglich und dauern in der Regel 1-2 Werktage.<br>
                <br>Bitte beachten Sie, dass Zollgebühren und zusätzliche Versandgebühren für internationale Lieferungen anfallen können.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
